#up{
    display: inline;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:50px;


}

#drr{
    /*display:inline-block;*/
    position: absolute;
    left: 285px;
    height: 50px;

}

a.drrr{
    width: 50px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
}
#drr4{
    /*display: inline-table;*/
    position: absolute;
    right: 200px;
    height: 100%;

}
div.btn{
    background: rgba(184, 96, 39, 0.68);

    display: inline-block;
    margin: 10px;
    padding: 5px;;
    width: 50px;
    color: #fff;
    text-decoration: none;

    border-radius: 2px;
    text-align: center;

    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    cursor: pointer
}
.btn:hover{
    background: rgba(246, 139, 45, 0.33);

}